.colorsAndFonts {
  background: #33546d;
  background: #f1485b;
  background: #7fa7b8;
  background: #f7efed;
  font-family: "Inter", sans-serif;
  font-family: "Mukta", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Mukta", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#navbar {
  width: 100%;
  height: 60px;

  position: fixed;
  top: 0;
  left: 0;

  background: #7fa7b8;
  box-shadow: 0 3px 4px 0 #393d42;
  z-index: 1;
}

#navbar ul {
  position: fixed;
  margin: 0;
  padding: 0;
  right: 1em;
}

#navbar li {
  display: inline-block;
  padding: 0;
}

.nav-link {
  width: 6em;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;

  font-size: 20px;
  font-weight: 900;
  color: #33546d;
  background: #7fa7b8;

  text-decoration: none;
}

.nav-link:hover {
  color: #7fa7b8;
  background: #33546d;
  transition: 0.5s;
}

#welcome-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #33546d;
  width: 100%;
  height: 100vh;
}

#welcome-section h1 {
  color: #f7efed;
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 500;
}

#welcome-section h2 {
  color: #f1485b;
  font-family: "Mukta", sans-serif;
  font-size: 35px;
  font-weight: 200;
  font-style: italic;
}

.centeredText {
  text-align: center;
}

#projects {
  width: 100%;
  height: auto;
  background: #7fa7b8;
  margin: 0;
  padding: 1em 0;
}

.projectCointainer {
  width: 300px;
  background: #33546d;

  border: 4px solid #f1485b;
  border-radius: 20px;
  margin: 1em;
}

#projects img {
  width: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#projects h1 {
  font-size: 30px;
  color: #f7efed;
  text-align: center;
}

#projects ul {
  text-align: center;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects a {
  font-size: 20px;
  font-weight: 600;
  color: #f1485b;
  text-decoration: none;
}

#projects a:hover {
  text-decoration: underline;
}

#contact-section {
  color: #f7efed;
  background: #f1485b;
  padding: 1em 0;
  text-align: center;
}

#contact-section h1 {
  font-size: 35px;
}

#contact-section ul {
  list-style: none;
}

#email {
  cursor: pointer;
}

#contact-section a {
  color: #f7efed;
  font-size: 20px;
  text-decoration: none;
}

#contact-section a:hover {
  padding: 5px 15px;
  border-radius: 20px;
  transition: 0.25s;
  background: #33546d;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60px;

  font-size: 10px;

  color: #7fa7b8;
  background: #33546d;
}

@media (max-width: 800px) {
  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbar ul {
    position: static;
    display: flex;
  }
  #navbar li {
    display: flex;
  }
}
