@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap");

body {
  font-family: Antonio;
  line-height: 1.4;
  background-color: #1b1e2c;
  color: #1a98df;
  width: 500px;
  margin: auto;
}

form {
  background: #081953;
  padding: 2.5rem 2.5rem;
  border-radius: 2rem;
  width: 500px;
  margin: auto;
}
.submit-button {
  width: 100%;
  padding: 0.5rem;
  background: orange;
  color: #081953;
  border-radius: 2px;
  cursor: pointer;
}
.input-headings {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-inputs {
  display: block;
  width: 90%;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  background-color: orange;
  border: 2px solid #2dbfec;
  border-radius: 0.25rem;
}
